* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 40px;
}

.h-screen-wrap {
  height: calc(100vh - 64px);
}

.layout-sidebar,
.anamnesis-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.anamnesis-wrap {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    border-radius: 40px;
  }
}

.right-wrap-main {
  height: 100%;
  overflow: hidden;
}

.right-wrap {
  height: 100%;

  @media screen and (max-width: 575px) {
    flex-wrap: wrap;

    & > * {
      width: 100% !important;
    }
  }

  .anamnesis-wrap {
  }
}

.Toastify__toast-body {
  align-items: flex-start;

  .Toastify__toast-icon {
    // margin-top: 4px;
  }

  * {
    font-size: 14px;
  }
}

.full-page-loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4f46ef;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
