* {
  box-sizing: border-box;
}

.h-screen-wrap {
  height: calc(100vh - 64px);
}

.layout-sidebar,
.anamnesis-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 40px;
  }
}

.anamnesis-wrap {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    border-radius: 40px;
  }
}

.right-wrap-main {
  height: 100%;
  overflow: hidden;
}

.right-wrap {
  height: 100%;
  .anamnesis-wrap {
  }
}
